# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.class
out
gen
renter/tmp/
src/main/java/com/delete/renter/store/tmp/
target/generated-sources/
target/generated-test-sources/
target/classes/META-INF/
target/classes/com/delete/renter/control/FasteningSettleControler.class
target/classes/com/delete/renter/data/Building.class
target/classes/com/delete/renter/data/FasteningNorm.class
target/classes/com/delete/renter/data/FasteningRenter.class
target/classes/com/delete/renter/data/FasteningSettle.class
target/classes/com/delete/renter/ui/FasteningSettleFrame.class
target/classes/fxml/fasteningSettle.fxml
